# Decision Modeling Mini Sprint

In [1]:
data_path = '../data/decision-modeling-sprint/'

In [2]:
zip_file = 'data.zip'
!unzip -o {data_path + zip_file} -d {data_path}

Archive:  ../data/decision-modeling-sprint/data.zip
  inflating: ../data/decision-modeling-sprint/circuits.csv
  inflating: ../data/decision-modeling-sprint/constructor_results.csv
  inflating: ../data/decision-modeling-sprint/constructor_standings.csv
  inflating: ../data/decision-modeling-sprint/constructors.csv
  inflating: ../data/decision-modeling-sprint/driver_standings.csv
  inflating: ../data/decision-modeling-sprint/drivers.csv
  inflating: ../data/decision-modeling-sprint/lap_times.csv
  inflating: ../data/decision-modeling-sprint/pit_stops.csv
  inflating: ../data/decision-modeling-sprint/qualifying.csv
  inflating: ../data/decision-modeling-sprint/races.csv
  inflating: ../data/decision-modeling-sprint/results.csv
  inflating: ../data/decision-modeling-sprint/seasons.csv
  inflating: ../data/decision-modeling-sprint/sprint_results.csv
  inflating: ../data/decision-modeling-sprint/status.csv

In [3]:
# Here we import all our libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning and Preprocessing

In [35]:
drivers = pd.read_csv(data_path + 'drivers.csv')
standings = pd.read_csv(data_path + 'driver_standings.csv')
results = pd.read_csv(data_path + 'results.csv')
sprint_results = pd.read_csv(data_path + 'sprint_results.csv')
lap_times = pd.read_csv(data_path + 'lap_times.csv')
pit_stops = pd.read_csv(data_path + 'pit_stops.csv')
display(drivers.head(), standings.head(), results.head(), sprint_results.head(), lap_times.head(), pit_stops.head())

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [36]:
status = pd.read_csv(data_path + 'status.csv')
results.replace({'statusId': status.set_index('statusId')['status'].to_dict()}, inplace=True)
sprint_results.replace({'statusId': status.set_index('statusId')['status'].to_dict()}, inplace=True)
display(results.head(), sprint_results.head())

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,Finished
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,Finished
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,Finished
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,Finished
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,Finished

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,Finished
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,Finished
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,Finished
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,Finished
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,Finished

In [37]:
winners = results[results['positionOrder'] == 1]
winners = winners.groupby('raceId').first().reset_index()
winners = winners.merge(drivers, on='driverId')

winners_sprint = sprint_results[sprint_results['positionOrder'] == 1]
winners_sprint = winners_sprint.groupby('raceId').first().reset_index()
winners_sprint = winners_sprint.merge(drivers, on='driverId')

display(winners.head(), winners_sprint.head())

,raceId,resultId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,driverRef,number_y,code,forename,surname,dob,nationality,url
0,1,7554,18,23,22,1,1,1,1,10.0,58,1:34:15.784,5655784,17,3,1:28.020,216.891,Finished,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
1,2,7574,18,23,22,1,1,1,1,5.0,31,1:10:52.092,4252092,18,1,1:36.641,206.483,Finished,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
2,3,7594,20,9,15,1,1,1,1,10.0,56,1:57:43.485,7063485,42,2,1:52.627,174.235,Finished,vettel,5,VET,Sebastian,Vettel,1987-07-03,German,http://en.wikipedia.org/wiki/Sebastian_Vettel
3,4,7614,18,23,22,4,1,1,1,10.0,57,1:31:48.182,5508182,11,3,1:34.588,205.979,Finished,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button
4,5,7634,18,23,22,1,1,1,1,10.0,66,1:37:19.202,5839202,17,2,1:22.899,202.149,Finished,button,22,BUT,Jenson,Button,1980-01-19,British,http://en.wikipedia.org/wiki/Jenson_Button

,raceId,resultId,driverId,constructorId,number_x,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,driverRef,number_y,code,forename,surname,dob,nationality,url
0,1061,1,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,Finished,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
1,1065,21,822,131,77,1,1,1,1,3,18,27:54.078,1674078,9,1:23.540,Finished,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
2,1071,41,822,131,77,2,1,1,1,3,24,29:09.559,1749559,8,1:12.300,Finished,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,http://en.wikipedia.org/wiki/Valtteri_Bottas
3,1077,61,830,9,1,1,1,1,1,8,21,30:39.567,1839567,14,1:19.154,Finished,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
4,1084,81,830,9,1,1,1,1,1,8,23,26:30.059,1590059,5,1:08.455,Finished,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen

In [38]:
driverId, raceId = pit_stops['driverId'], pit_stops['raceId']
# add driver race result positions to pit stops
pit_stops = pit_stops.merge(results[['raceId', 'driverId', 'positionOrder']], on=['raceId', 'driverId'])
pit_stops = pit_stops.rename(columns={'positionOrder': 'driverPosition'})
pit_stops = pit_stops.groupby(['raceId', 'driverId']).first().reset_index()
pit_stops.head()

,raceId,driverId,stop,lap,time,duration,milliseconds,driverPosition
0,841,1,1,16,17:28:24,23.227,23227,2
1,841,2,1,15,17:27:41,22.994,22994,12
2,841,3,1,16,17:29:00,23.716,23716,17
3,841,4,1,12,17:22:34,23.251,23251,4
4,841,5,1,17,17:31:11,24.865,24865,18

In [39]:
lap_times = lap_times.merge(results[['raceId', 'driverId', 'positionOrder']], on=['raceId', 'driverId'])
lap_times = lap_times.rename(columns={'positionOrder': 'driverPosition'})
lap_times = lap_times.groupby(['raceId', 'driverId']).first().reset_index()
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds  driverPosition
0       1         1    1        13  1:49.088        109088              20
1       1         2    1        17  2:37.754        157754              10
2       1         3    1         6  1:42.659        102659               6
3       1         4    1        14  1:49.367        109367               5
4       1         6    1         8  1:44.899        104899              18

# Data Analysis
* Fastest lap times
* Fastest pit
* Least wins?
* Standings
* Top performing racers or constructors?