# Machine Learning for Predictive Analytics Mini Sprint

In [3]:
# Here we import all our libraries
import pandas as pd
from pandas.api import types

In [1]:
# Set the path to the data and unzip it
data_path = '../data/predictive-analytics-sprint/'
zip_file = 'data.zip'
!unzip -o {data_path + zip_file} -d {data_path}

Archive:  ../data/predictive-analytics-sprint/data.zip
  inflating: ../data/predictive-analytics-sprint/data_dictionary.xlsx
  inflating: ../data/predictive-analytics-sprint/employee_survey_data.csv
  inflating: ../data/predictive-analytics-sprint/general_data.csv
  inflating: ../data/predictive-analytics-sprint/in_time.csv
  inflating: ../data/predictive-analytics-sprint/manager_survey_data.csv
  inflating: ../data/predictive-analytics-sprint/out_time.csv

## Cleaning and Preprocessing Data

In [6]:
# Load the data
general_data = pd.read_csv(data_path + 'general_data.csv')
# We swap the columns 'EmployeeID' and 'Age' to make the data more readable
cols = list(general_data.columns)
a, b = cols.index('EmployeeID'), cols.index('Age')
cols[b], cols[a] = cols[a], cols[b]
general_data = general_data[cols]

employee_survey_data = pd.read_csv(data_path + 'employee_survey_data.csv')
manager_survey_data = pd.read_csv(data_path + 'manager_survey_data.csv')

display(general_data.head() , employee_survey_data.head() , manager_survey_data.head())

   EmployeeID Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0           1        No  ...                       0                    0
1           2       Yes  ...                       1                    4
2           3        No  ...                       0                    3
3           4        No  ...                       7                    5
4           5        No  ...                       0                    4

[5 rows x 24 columns]

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

   EmployeeID  JobInvolvement  PerformanceRating
0           1               3                  3
1           2               2                  4
2           3               3                  3
3           4               2                  3
4           5               3                  3

In [7]:
# Here we merge all three data frames into oneon the employee column
data = pd.merge(general_data, employee_survey_data, on='EmployeeID')
data = pd.merge(data, manager_survey_data, on='EmployeeID')
data.head()

   EmployeeID Attrition  ... JobInvolvement PerformanceRating
0           1        No  ...              3                 3
1           2       Yes  ...              2                 4
2           3        No  ...              3                 3
3           4        No  ...              2                 3
4           5        No  ...              3                 3

[5 rows x 29 columns]

In [ ]:
# We can save the data to a csv file  for later use
data.to_csv(data_path + 'employee_data.csv', index=False)

In [8]:
# Loop through the columns and convert the non-numeric columns to numeric
for column in data.columns:
  # Check if the data type is not an integer or a float
  if not types.is_numeric_dtype(data[column]):
    # One hot encode the column with numerical categories
    data[column] = pd.Categorical(data[column])
    data[column] = data[column].cat.codes
data.head()

   EmployeeID  Attrition  ...  JobInvolvement  PerformanceRating
0           1          0  ...               3                  3
1           2          1  ...               2                  4
2           3          0  ...               3                  3
3           4          0  ...               2                  3
4           5          0  ...               3                  3

[5 rows x 29 columns]

## Model Setup

## Training and Evaluation